{{!-- <footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-12">
        <hr class="light">
        <h5 class="footer-text">&copy; community.com</h5>
      </div>
    </div>
  </div>
</footer> --}}