<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"> --}}
    {{!-- <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/login.css" /> --}}
    {{!-- <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/home.css" /> --}}
    {{!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> --}}
    {{!-- <link href="https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow" rel="stylesheet">   --}}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

{{> header }}

<body>
    {{{ body }}}
</body>

</html>
