@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  background-color: rgb(133, 130, 130);
}

ul.notes li {
  margin: 10px 40px 50px 0px;
  float: left;
}

ul.notes li,
ul.tag-list li {
  list-style: none;
}

ul.notes li div small {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}

div.rotate-1 {
  -webkit-transform: rotate(-0.5deg);
  -o-transform: rotate(-0.5deg);
  -moz-transform: rotate(-0.5deg);
}

.lazur-bg {
  background-color: #c2ca48;
  color: #ffffff;
}

.red-bg {
  background-color: #ed5565;
  color: #ffffff;
}

.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}

.yellow-bg {
  background-color: #f8ac59;
  color: #ffffff;
}

.postItColor:nth-child(odd) {
  background-color: #ed5565;
  color: #ffffff;
}

.postItColor:nth-child(even) {
  background-color: #48c586;
  color: #ffffff;
}

ul.notes li div {
  text-decoration: none;
  color: #000;
  display: block;
  height: 250px;
  width: 250px;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px #212121;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
}

.desc {
  max-width:200px;
  word-wrap:break-word;
}

.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
}

.carousel-caption h1 {
  font-size: 120px;
  text-shadow: 1px 1px 15px rgb(25, 32, 26);
}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #563d7c;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.post-btn {
  background-color: #4bb689;
  border: 1px solid #563d7c;
}

.social a {
  font-size: 3em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-instagram {
  color: #517fa8;
}

.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover, 
.fa-google-plus-g:hover, 
.fa-instagram:hover,
.fa-youtube:hover {
  color: #727272;
}

.connect-section {
  background-color: #cccbcb;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 1rem;
  position:absolute;
  bottom:0;
  width: 100%;
}

.footer-text {
  font-size: 15px !important;
}

.login-main {
  width: 100%;
  height: 100%;
  background-color: rgb(133, 130, 130);
  background-size: cover;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1;
}

.login-main-section {
  margin-top: 130px;
  padding: 0;
  opacity: 0.9;
}

.login-modal-content {
  background-color: #32383f;
  opacity: 0.7;
  padding: 0 18px;
  box-shadow: 0px 0px 3px #848484;
}

.user-img img {
  height: 120px;
  width: 120px;
}

.user-img {
  margin-top: -60px;
  margin-bottom: 45px;
}

.login-form-group {
  margin-bottom: 25px;
}

.login-form-group input {
  height: 42px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  padding-left: 54px;
}

.login-form-group-email::before {
  font-family: 'Font Awesome\ 5 Free';
  content: "\f1fa";
  position: absolute;
  font-size: 22px;
  left: 28px;
  padding-top: 4px;
  color: #555e60;
}

.login-form-group-password::before {
  font-family: 'Font Awesome\ 5 Free';
  content: "\f023";
  position: absolute;
  font-size: 22px;
  left: 28px;
  padding-top: 4px;
  color: #555e60;
}

.login-modal-dialog {
  margin-top: 12%;
}

.login-button {
  width: 40%;
  margin: 5px 0 25px;
  font-size: 19px;
  padding: 7px 14px;
  border-radius: 5px;
}

.fa-sign-in-alt {
  font-size: 18px;
  margin-right: 7px;
}

.register-link {
  color: #00aced;
}

.register-link:hover {
  color: #40a537;
}

.registered-text {
  color: #cacfce;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.posts-main-section {
  width: 100%;
  height: 100%;
  background-color: rgb(133, 130, 130);
  background-size: cover;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin-top: 50px;
}

/* Media queries*/
@media (max-width: 992px) {
  .social a {
    font-size: 3em;
    padding: 2rem;
  }

}

@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font: 350%;
  }
  .carousel-caption h3 {
    font-size: 200%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }

  .carousel-caption h1 {
    font: 250%;
  }

  .carousel-caption h3 {
    font-size: 100%;
    font-weight: 400;
    padding-bottom: .2rem;
  }

  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}
